# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/

# Dataset files
*.csv
texts
teacher_knowledge
*.json
vqa2_*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
lightning_logs/
*.log

# Model checkpoints
checkpoints/
best_model_*/
